.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  height: 100dvh;
  min-height: 500px;
  padding: 10px 5px; 
  


  .hero {
    max-width: 100%;
    border-radius: 70%;
    margin-right: 50px;
    margin-top: 200px;
   
  }

  span {
    display: flex;
    gap: 25px;
    justify-content: center;

    a {
      margin: 0;

      img {
        width: 30px;
      }
    }
  }

  a {
    width: fit-content;
    align-self: center;
  }

  button {
    background-color: var(--btn-color);
    border: none;
    border-radius: 20px;
    width: 126px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    margin-bottom: 20px;
   
  }

  button:hover {
    transform: scale(1.05);
  }

  button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }
}

/* .colorModeContainer {
  position: relative;
} */

.colorMode {
  position: fixed;
  right: 0;
  top: 50%;
  width: 25px;
   margin-right: 20px;
}

.colorMode:hover {
  cursor: pointer;
}

.description {
  max-width: 100%;
  font-size: 1.0em;
  margin-right: 30px;
  margin-left: 20px;
  text-align: start;
  line-height: 1.5;
 
}

 .info {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h1{
    font-size: 1.8em;
    color: #e28743;
    font-weight: 900;
    font-family: "Roboto Mono", monospace;
  }

} 

 @media (min-width: 800px) {
  .container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;

    .hero {
      max-width: 350px;
      width: 350px;
      margin-top: 5px; 
    }
  }
}

@media (min-width: 1400px) {
  .container {
    .hero {
      max-width: 500px;
      width: 500px;
      top: -70px;
     
     
    }
    .info {
      margin-top:70px;
    }
    .description {
      max-width: 500px;
      font-size: 1.2em;
      margin-left: 20px;
      text-align: center;
      line-height: 1.5;
    }
  }
} 
